.delete-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    .delete-wrapper-link {
        @include linkStyles();
        font-size: 1.4em;
        
    }
    
}