@media (max-width: 710px) {
    .navigation-container {
        position: static;
        display:flex;
        justify-content: space-around;
        margin-left: 0px;
    }

    .book-container {
        width: 100vw;
        border: none;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
    }

    .title {
        font-size: 2rem;
    }

    .author {
        font-size: 1.7rem;
    }
}