.update-button {
    width: 90px;
    height: 45px;
    margin-bottom: 30px;
}

.update-book-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
}